@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body style="background:url(/images/topbg.gif) repeat-x;">
    <div>
        @*<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>*@

        <div class="topleft">
            <a href="@Url.Action("Index","Home")"><img src="~/images/logo.png" title="系统首页" /></a>
        </div>


        <ul class="nav">
            <li><a href="@Url.Action("PendingTopups","Cash")"><img src="~/images/icon01.png" title="待审核充值" /><h2>待审核充值</h2></a></li>
            <li><a href="@Url.Action("PendingWithdraws","Cash")"><img src="~/images/icon02.png" title="待审核提现" /><h2>待审核提现</h2></a></li>
            <li><a href="@Url.Action("GetBaodanTrans","BaoDan")"><img src="~/images/icon03.png" title="报单" /><h2>报单</h2></a></li>
            <li><a href="@Url.Action("PendingSells","BaoDan")"><img src="~/images/icon04.png" title="待审核虚拟币提现" /><h2>待审核虚拟币提现</h2></a></li>
            <li><a href="@Url.Action("Index","News")"><img src="~/images/icon05.png" title="新闻" /><h2>新闻</h2></a></li>
            <li><a href="@Url.Action("GeneralReport","Reports")"><img src="~/images/icon06.png" title="汇总报表" /><h2>汇总报表</h2></a></li>
        </ul>


        <div class="topright">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <ul>
                    <li><span><img src="~/images/help.png" title="帮助" class="helpimg" /></span><a href="#">帮助</a></li>
                    <li><a href="@Url.Action("About","Home")">关于</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">退出</a></li>
                </ul>
            }

            <div class="user">
                @if (User.Identity.IsAuthenticated)
                {
                    <span>@User.Identity.Name</span>
                }
                else
                {
                    <span>用户名</span>
                }
                <i><a href="@Url.Action("Manage","Account")" style="color: #ffffff">修改密码</a></i>
                <b>&nbsp;</b>
                @*<i>消息</i>
                    <b>5</b>*@
            </div>

        </div>


    </div>
    <div>
        
        <!--  SIDEBAR - END -->
        <!-- START CONTENT -->

        <section>
            @Html.Partial("_SideBar")
            <div class="mainContent">
                @RenderBody()
            </div>
        </section>


    </div>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>

