@using Microsoft.AspNet.Identity
@model Backend.Models.ManageUserViewModel
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">修改密码</a></li>
    </ul>
</div>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="formbody">
        @Html.ValidationSummary()
        <p class="text-success">@ViewBag.StatusMessage</p>
        <ul class="forminfo">
            <li>
                <label>旧密码<b>*</b></label>
                @Html.PasswordFor(model => model.OldPassword, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必填字段" })
            </li>
            <li>
                <label>新密码<b>*</b></label>
                @Html.PasswordFor(model => model.NewPassword, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必填字段" })
            </li>
            <li>
                <label>新密码确认<b>*</b></label>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必填字段" })
            </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" /></li>

        </ul>
    </div>
    
               
}
