@using Backend.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "密码修改";
}

<div >
    
        @Html.Partial("_ChangePasswordPartial")
       @* @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>*@
   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
