@model MemberCenter.Models.CashTopupViewModel
@{
    ViewBag.Title = "现金充值";
}
    
    @using (Html.BeginForm("CashTopup", "Transaction", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
    <div class="panel panel-default">
		<div class="panel-heading">
			CASH TOPUP
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">

            @Html.AntiForgeryToken()
            @if (!ViewData.ModelState.IsValid)
            {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
            }
            @if (ViewBag.ActionMessage != null)
            {
            <div class="alert alert-success">
                @ViewBag.ActionMessage
            </div>
            }

			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#step1" data-toggle="tab">填写汇款金额</a></li>
				<li><a href="#step2" data-toggle="tab">前往网银汇款</a></li>
				<li><a href="#step3" data-toggle="tab">提交汇款信息</a></li>
				<li><a href="#step4" data-toggle="tab">完成汇款</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
                <div class="tab-pane fade in active" id="step1" >
                    <div style="padding-top: 20px; height: 200px;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control topup-amount", placeholder = "充值金额", maxlength = "10", id = "CashAmount" })
                                @Html.TextBoxFor(m => m.OddStr, new { @class = "form-control topup-odd", maxlength = "3", disabled = "true" })
                                @Html.HiddenFor(m=>m.Odd)
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 50px;">
                            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "备注", style = "width:300px;", rows = "6" })
                            </div>
                        </div>
                    </div>
                    <a href="javascript:showStep('step2');" class="right btn btn-success" style="margin-top: 11px;">下一步</a>
                </div>
                <div class="tab-pane fade" id="step2">
                    <div class="form-group" style="padding-top: 20px; height: 200px;">
                        <label class="control-label col-md-2" for="BankDropDown">选择汇款银行</label>
                        <div class="col-md-10" style="margin-bottom:15px; ">
                            @Html.DropDownListFor(m => m.BankInfoId, Model.SysBankInfos.Select(a => new SelectListItem() {  Text = a.Bank, Value = a.Id + "" }), new { @class = "form-control", style = "width:120px;", @Id = "BankDropDown" })
                        </div> 
                        <div class="col-md-4 well" id="BankInfoContent" style="margin-left: 15px;">
                            @for (int i=0;  i<Model.SysBankInfos.Count();i++) 
                            { 
                                var bank = Model.SysBankInfos.ToArray()[i];
                                var cssClass = i==0? "":"hide";
                                <div id="Bank_@bank.Id" class="bankinfo @cssClass" bank-id="@bank.Id">
                                    汇款银行：@bank.Bank    <br />
                                    收款人：@bank.Name     <br />
                                    收款帐号：@bank.Account <br /><br />
                                    <a href="@bank.URL" target="_blank" class="right">前往网银</a>
                                </div>
                            }
                        </div>
                    </div>
                    <a href="javascript:showStep('step3');" class="right btn btn-success">下一步</a>
                    <a href="javascript:showStep('step1');" class="right btn btn-success" style="margin-right:10px;">上一步</a>
                </div>
				<div class="tab-pane fade" id="step3">
                    <div class="form-group" style="margin-top: 20px; height: 30px;">
                        @Html.LabelFor(model => model.FileUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" id="uploadImageButton" name="uploadImageButton" />
                        </div>
                    </div>
                    <div id="imageHolder" class="col-md-12">
                        <img style=" /* width: 100px; */ height: 150px; " />
                    </div>
					<a href="javascript:showStep('step4');" class="right btn btn-success">下一步</a>
					<a href="javascript:showStep('step2');" class="right btn btn-success" style="margin-right:10px;">上一步</a>
				</div>
                <div class="tab-pane fade" id="step4" >
                    <div class="col-md-12" style="height: 200px;">
                        <div class="well">
                            请确认以上各步骤信息正确，点击完成按钮，提交充值信息。

                        </div>
                    </div>
                    <div style="margin-top:15px;">
                        <button type="submit" class="right btn btn-warning">完成</button>
                        <a href="javascript:showStep('step3');" class="right btn btn-success" style="margin-right:10px;">上一步</a>
                    </div>
                </div>
			</div>
        	
        </div>
		<!-- /.panel-body -->
	</div>
    }
	<!-- /.panel -->

    
<script type="text/javascript">
<!--
		function showStep(tab)
		{
		$('.nav-tabs a[href="#' + tab + '"]').tab('show');
		}

		$(document).ready(function () {
		    $("#CashAmount").keydown(function (e) {
		        // Allow: backspace, delete, tab, escape, enter and .190
		        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
		            // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
		            // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
		            // let it happen, don't do anything
		            return;
		        }
		        // Ensure that it is a number and stop the keypress
		        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
		            e.preventDefault();
		        }
		    });

		    $('#BankDropDown').change(function () {
		        $('#BankInfoContent div').each(function () {
		            $(this).hide();
		            $(this).removeClass('hide');
		        });
		        $('#Bank_' + $(this).val()).show();
		    });
		    
		});

		function setupFileLoaderButton(button, imageHolder) {
		    var upload = document.getElementById(button);
		    var holder = document.getElementById(imageHolder);

		    if (typeof window.FileReader === 'undefined') {
		        console.error('File API & FileReader not available');
		    }

		    upload.onchange = function (e) {
		        e.preventDefault();

		        var file = upload.files[0],
                    reader = new FileReader();
		        reader.onload = function (event) {
		            var img = new Image();
		            img.src = event.target.result;
                    if (img.src != undefined && img.src != '')
		                img.className = 'thumbnail uploading-img';
		            else
		                img.className = '';
		            holder.innerHTML = '';
		            holder.appendChild(img);
		        };
		        reader.readAsDataURL(file);

		        return false;
		    };
		}

		setupFileLoaderButton('uploadImageButton', 'imageHolder');
//-->
</script>
