@model MemberCenter.Models.CashTopupViewModel
@{
    ViewBag.Title = "现金充值";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <h1 class="page-header">@ViewBag.Title</h1>
    
    <div class="panel panel-default">
		<div class="panel-heading">
			CASH TOPUP
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#step1" data-toggle="tab">填写汇款金额</a></li>
				<li><a href="#step2" data-toggle="tab">前往网银汇款</a></li>
				<li><a href="#step3" data-toggle="tab">提交汇款信息</a></li>
				<li><a href="#step4" data-toggle="tab">完成汇款</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="step1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Amount)
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                    </div>
					<a href="javascript:showStep('step2');" class="right btn btn-success" >下一步</a>
				</div>
				<div class="tab-pane fade" id="step2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentMethod, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.PaymentMethod, Model.PaymentMethods.Select(a => new SelectListItem() { Text = a.Bank, Value = a.Bank }))
                        </div>
                    </div>                    
                    <a href="javascript:showStep('step3');" class="right btn btn-success">下一步</a>
					<a href="javascript:showStep('step1');" class="right btn btn-success" style="margin-right:10px;">上一步</a>
				</div>
				<div class="tab-pane fade" id="step3">
					<div class="form-group">
                        @Html.LabelFor(model => model.FileUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" id="uploadImageButton" name="uploadImageButton" required="required" />
                        </div>
                    </div>
					<a href="javascript:showStep('step4');" class="right btn btn-success">下一步</a>
					<a href="javascript:showStep('step2');" class="right btn btn-success" style="margin-right:10px;">上一步</a>
				</div>
				<div class="tab-pane fade" id="step4">
                    <div class="col-md-10">
                        
                        <div id="imageHolder">
                            <img />
                        </div>
                    </div>

					<button type="submit" class="right btn btn-warning">完成</button>
					<a href="javascript:showStep('step3');" class="right btn btn-success" style="margin-right:10px;">上一步</a>
				</div>
			</div>
		</div>
		<!-- /.panel-body -->
	</div>
	<!-- /.panel -->
    
    <script type="text/javascript">
	<!--
		 function showStep(tab)
		 {
			$('.nav-tabs a[href="#' + tab + '"]').tab('show');
		 }
	//-->
	</script>
}
