@model Backend.Models.BankInfo

@{
    ViewBag.Title = "添加银行账号";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">添加银行账号</a></li>
    </ul>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="formbody">
        
        @Html.ValidationSummary(true)
        <ul class="forminfo">
            <li>
                <label>银行名称<b>*</b></label>
                @Html.TextBoxFor(model => model.Bank, new { @class = "dfinput", placeholder = "请填写银行名称", data_val = "true", requried = "required", data_val_required = "必填字段" })
                @*@Html.ValidationMessageFor(model => model.Bank)*@
            </li>
            <li>
                <label>开户名<b>*</b></label>
                @Html.TextBoxFor(model => model.Name, new { @class = "dfinput", placeholder = "请填写开户名", data_val = "true", requried = "required", data_val_required = "必填字段" })
                @*@Html.ValidationMessageFor(model => model.Name)*@
            </li>
            <li>
                <label>账号<b>*</b></label>
                @Html.TextBoxFor(model => model.Account, new { @class = "dfinput", placeholder = "请填写账号", data_val = "true", requried = "required", data_val_required = "必填字段" })
                @*@Html.ValidationMessageFor(model => model.Account)*@
            </li>
            <li>
                <label>网址<b>*</b></label>
                @Html.TextBoxFor(model => model.URL, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必填字段" })
                @*@Html.ValidationMessageFor(model => model.URL)*@
            </li>
            <li>
                <label>描述<b>*</b></label>

                @Html.TextAreaFor(model => model.Description, new { @class = "dfinput", style = "width:400px;height:150px;", data_val = "true", requried = "required", data_val_required = "必填字段" })
               
               @* @Html.ValidationMessageFor(model => model.Description)*@
            </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" /></li>

        </ul>
            
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#adminParent').slideDown();
</script>