@using Backend.Models
@model Backend.Models.SystemSetting

@{
    ViewBag.Title = "系统参数修改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">系统参数修改</a></li>
    </ul>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.Id)
    <div class="formbody">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="formtitle"><span>系统参数信息</span></div>
        <ul class="forminfo">
            <li>
                <label>参数名称</label>
                @Html.TextBoxFor(model => model.Key, new { @class = "dfinput", @readonly = true })

            </li>
            <li>
                <label>参数值<b>*</b></label>
                @Html.TextBoxFor(model => model.Value, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必填字段" })

            </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" /></li>

        </ul>


</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}
<script>
    $(document).ready(function () {
       
        $('#adminParent').slideDown();
    });
</script>
