@using Backend.Models
@model Backend.Models.AspNetUser

@{
    ViewBag.Title = "修改账号";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string role = ViewBag.RoleType;
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">修改账号</a></li>
    </ul>
</div>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Id)
    @Html.Hidden("oldRole", role)
    <div class="formbody">

        <div class="formtitle"><span>账号信息</span></div>

        <ul class="forminfo">
            <li>
                <label>账号</label>
                @Html.TextBoxFor(model => model.UserName, new { @class = "dfinput",@readonly=true })
                <i>提示: 账号默认初始密码为 @VapLib.Constants.DefaultPass</i>

            </li>
            <li>
                <label>角色</label>
                @{
                    var roleOption = new List<SelectListItem>();
                    roleOption.Insert(0, new SelectListItem
                    {
                        Text = "客服",
                        Value = "3",
                        Selected = ViewBag.RoleType == "CustomerService"
                    });
                    roleOption.Insert(1, new SelectListItem
                    {
                        Text = "财务",
                        Value = "2",
                        Selected = ViewBag.RoleType == "Finance"
                    });

                    roleOption.Insert(2, new SelectListItem
                    {
                        Text = "管理员",
                        Value = "1",
                        Selected = ViewBag.RoleType == "Admin"
                    });
                }
                @Html.DropDownList("roleType", roleOption, new { @class = "dfinput" })<br />
            </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" /></li>
        </ul>


    </div>
    
}

<div>
    @Html.ActionLink("返回", "Users")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
