@using Backend.Models
@model IEnumerable< Backend.Models.SystemSetting >

@{
    ViewBag.Title = "系统设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">系统设置</a></li>
    </ul>
</div>

<div class="formbody">
    @Html.ValidationSummary()
    <div class="formtitle"><span>系统参数列表</span></div>
    <table @*class="tablelist"*@ id="dataTable-Settings">
        <thead>
            <tr>
                <th>
                    参数名称
                </th>
                <th>
                    参数值
                </th>
                <th>
                    参数说明
                </th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "EditMeta", new { id = item.Id }, new { @class = "tablelink" })@* |
                        @Html.ActionLink("删除", "DeleteMeta", new { id = item.Id }, new { @class = "tablelink", onclick = "javascript:return confirm('确认删除？')" })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable-Settings').DataTable({
            "searching": true,
        });
        $('#adminParent').slideDown();
    });
</script>