@model IEnumerable<Backend.Models.AspNetUser>

@{
    ViewBag.Title = "账号管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">后台账号管理</a></li>
    </ul>
</div>




<div class="formtitle"><span>后台账号列表</span></div>
<a class="btn-new" href="@Url.Action("CreateUser","Admin")">新建账号</a>
<table @*class="tablelist"*@ id="dataTable-Users">
    <thead>
        <tr>
            <th>
                用户名
            </th>
            <th>
                角色
            </th>
            <th>
                状态
            </th>


            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetRoles.FirstOrDefault().Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>


                <td>
                    @Html.ActionLink("重置密码", "ResetPassword", new { uid = item.Id }, new { @class = "tablelink" }) |
                    @Html.ActionLink("修改", "EditUser", new { uid = item.Id }, new { @class = "tablelink" })

                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    $(document).ready(function () {
        $('#dataTable-Users').DataTable({
            "searching": false,
        });
        $('#adminParent').slideDown();
    });
</script>