@model Backend.Models.CoinPrice

@{
    ViewBag.Title = "联合通用积分价格";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal temp = ViewBag.LastPrice;
}
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">联合通用积分价格</a></li>
    </ul>
</div>

@using (Html.BeginForm("Create", "CoinPrices", FormMethod.Post, new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    <div class="formbody">

        <div class="formtitle"><span>联合通用积分价格</span></div>

        <ul class="forminfo">
            <li>
                <label>上次价格</label>
                @Html.TextBox("LastPrice", @temp, new { @class = "dfinput", @readonly = true })
                

            </li>
            <li>
                <label>本次价格<b>*</b></label>
                @Html.TextBoxFor(model => model.Price, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必填字段" })
                
            </li>
            
            <li><label>&nbsp;</label><input id="button1" type="button" class="btn-new" value="（保存价格并解锁积分）" /></li>
            <li><label>&nbsp;</label><input id="button2" type="button" class="btn-new" value="（只保存价格不解锁积分）" /></li>
            <li><label>&nbsp;</label><input id="button3" type="button" class="btn-new" value="（不保存价格只解锁积分）" /></li>
        </ul>


    </div>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        
        $('#button1').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=1');
            $('#form1').submit();
        });

        $('#button2').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=2');
            $('#form1').submit();
        });

        $('#button3').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=3');
            $('#form1').submit();
        });
        
    });
</script>