@model Backend.Models.CoinPrice

@{
    ViewBag.Title = "联合通用积分价格";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal temp = ViewBag.LastPrice;
}
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">联合通用积分价格</a></li>
    </ul>
</div>

@using (Html.BeginForm("Create", "CoinPrices", FormMethod.Post, new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    <div class="formbody">

        <div class="formtitle"><span>联合通用积分价格</span></div>

        <ul class="forminfo">
            <li>
                <label>上次价格</label>
                @Html.TextBox("LastPrice", @temp, new { @class = "dfinput", @readonly = true })
                

            </li>
            <li>
                <label>本次价格<b>*</b></label>
                @Html.TextBoxFor(model => model.Price, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必填字段" })
                
            </li>
            
            <li><label>&nbsp;</label><input id="button1" type="button" class="btn-new" value="（保存价格并解锁积分）" /></li>
            <li><label>&nbsp;</label><input id="button2" type="button" class="btn-new" value="（只保存价格不解锁积分）" /></li>
            <li><label>&nbsp;</label><input id="button3" type="button" class="btn-new" value="（不保存价格只解锁积分）" /></li>
            <li><label>&nbsp;</label><input id="button4" type="button" class="btn-new hide" value="（会员积分对账）" /></li>
            <li><label>&nbsp;</label><input id="button5" type="button" class="btn-new hide" value="（会员资金对账）" /></li>
        </ul>

        @if(TempData["ActionMessage"] != null)
        {
            <div>@Html.Raw( @TempData["ActionMessage"] )</div>
        }

    </div>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        
        $('#button1').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=1');
            $('#form1').submit();
        });

        $('#button2').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=2');
            $('#form1').submit();
        });

        $('#button3').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=3');
            $('#form1').submit();
        });

        $('#button4').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=4');
            $('#form1').submit();
        });

        $('#button5').click(function () {
            var action = $('#form1').attr('action');
            $('#form1').attr('action', action + '?type=5');
            $('#form1').submit();
        });
        
    });
</script>


<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 4px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 4px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        table.gridtable tr.hight-light td {
            border-width: 1px;
            padding: 4px;
            border-style: solid;
            border-color: #666666;
            background-color: #ff9999;
        }

        table.gridtable tr.hight-light-1 td {
            border-width: 1px;
            padding: 4px;
            border-style: solid;
            border-color: #666666;
            background-color: #D4F717;
        }
</style>