<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Feng">

    <title>联合通用积分会员系统 - @ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css")

    <!-- MetisMenu CSS -->
    @Styles.Render("~/Content/bower_components/metisMenu/dist/metisMenu.min.css")

    <!-- DataTables CSS -->
    @Styles.Render("~/Content/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")
    
    <!-- DataTables Responsive CSS -->
    @Styles.Render("~/Content/bower_components/datatables-responsive/css/dataTables.responsive.css")

    <!-- Custom CSS -->
    @Styles.Render("~/Content/dist/css/sb-admin-2.css")
    @Styles.Render("~/Content/css/custom.css")

    <!-- Custom Fonts -->
    @Styles.Render("~/Content/bower_components/font-awesome/css/font-awesome.min.css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        
        @Html.Partial("_Navigation")

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/Content/bower_components/jquery/dist/jquery.min.js")
    @Scripts.Render("~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js")
    @Scripts.Render("~/Content/bower_components/metisMenu/dist/metisMenu.min.js")
    @Scripts.Render("~/Content/bower_components/datatables/media/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Content/dist/js/sb-admin-2.js")
    @RenderSection("scripts", required: false)

</body>

</html>


