@model Backend.Models.News

@{
    ViewBag.Title = "修改新闻";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">修改新闻</a></li>
    </ul>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="formbody">

        @Html.ValidationSummary(true)
        <ul class="forminfo">
            <li>
                <label>新闻标题<b>*</b></label>
                @Html.TextBoxFor(model => model.Title, new { @class = "dfinput", placeholder = "请填写新闻标题" })
                @Html.ValidationMessageFor(model => model.Title)
            </li>

            <li>
                <label>新闻分类<b>*</b></label>
                @{
                   /*var options = (from scl in VapLib.Constants.NewsType
                   select new SelectListItem
                   {
                       Text = scl,
                       Value = scl,
                       Selected = scl == Model.Type
                   }).ToList();
                    */
                        var options = new List<SelectListItem>();
                        options.Insert(0, new SelectListItem
                        {
                            Text = "站内新闻",
                            Value = "站内新闻"
                        });
                        options.Insert(1, new SelectListItem
                        {
                            Text = "站外新闻",
                            Value = "站外新闻"
                        });
                        options.Insert(2, new SelectListItem
                        {
                            Text = "公告",
                            Value = "公告"
                        });
                        options.Insert(3, new SelectListItem
                        {
                            Text = "其他",
                            Value = "其他"
                        });

                }
                @Html.DropDownListFor(model => model.Type, options, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必选项" })

                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

            </li>
            <li>
                <label>新闻内容<b>*</b></label>

                @Html.TextAreaFor(model => model.Content, new { id = "newContent", style = "width:700px;height:250px;visibility:hidden;" })
                @* <textarea id="newContent" name="content" style="width:700px;height:250px;visibility:hidden;"></textarea>
                *@
                @Html.ValidationMessageFor(model => model.Content)
            </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="马上发布" /></li>


        </ul>



    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript" src="~/Content/editor/kindeditor.js"></script>

<script type="text/javascript">
    KE.show({
        id: 'newContent',
        cssPath: './index.css'
    });
    $('#newsParent').slideDown();
</script>
