@model IEnumerable<Backend.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">新闻管理</a></li>
    </ul>
</div>
<div class="formbody">
    <ul class="seachform1">

        <li><label>新闻标题</label><input name="" type="text" class="scinput1" /></li>
        
        <li>
            <label>新闻种类</label>
            <select class="scinput1">
                <option>全部</option>
                <option>站内新闻</option>
                <option>站外新闻</option>
                <option>公告</option>
            </select>
        </li>


    </ul>



    <ul class="seachform1">
        <li class="sarchbtn">
            <label>&nbsp;</label>
            <input name="" type="button" class="scbtn" onclick="" value="查询" />
            <input name="" type="button" class="scbtn1" value="添加新闻" />
        </li>
        
    </ul>
    




    <div class="formtitle"><span>新闻列表</span></div>
    <table class="tablelist">
        <tr>
            <th>
                新闻类型
            </th>
            <th>
                标题
            </th>
            <th>
                发布时间
            </th>
            <th>
                发布人
            </th>

            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>