@model IEnumerable<Backend.Models.News>

@{
    ViewBag.Title = "新闻管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">新闻管理</a></li>
    </ul>
</div>
<div class="formbody">
    @using (Html.BeginForm("Index", "News", FormMethod.Get))
    {
        <ul class="seachform1">
            <li><label>新闻标题</label>
            @Html.TextBox("newsTitle","", new { @class = "scinput1" })
            @*<input name="newsTitle" type="text" class="scinput1" /></li>
        *@
            <li>
                <label>新闻种类</label>
                @{
        /*var options = (from scl in VapLib.Constants.NewsType
                   select new SelectListItem
                   {
                       Text = scl,
                       Value = scl,
                       Selected = scl == Model.Type
                   }).ToList();
                    */
                    var options = new List<SelectListItem>();
                    options.Insert(0, new SelectListItem
                    {
                        Text = "全部",
                        Value = ""
                    });
                    options.Insert(1, new SelectListItem
                    {
                        Text = "站内新闻",
                        Value = "站内新闻"
                    });
                    options.Insert(2, new SelectListItem
                    {
                        Text = "站外新闻",
                        Value = "站外新闻"
                    });
                    options.Insert(3, new SelectListItem
                    {
                        Text = "公告",
                        Value = "公告"
                    });
                    options.Insert(4, new SelectListItem
                    {
                        Text = "其他",
                        Value = "其他"
                    });

                }
                @Html.DropDownList("newsType", options, new { @class = "scinput1" })
                @*<select class="scinput1" name="newsType">
                    <option>全部</option>
                    <option>站内新闻</option>
                    <option>站外新闻</option>
                    <option>公告</option>
                    <option>其他</option>
                </select>*@
            </li>

        </ul>
        <ul class="seachform1">
            <li class="sarchbtn">
                <label>&nbsp;</label>
                <input name="" type="submit" class="scbtn" onclick="" value="查询" />
                @*<input name="" type="button" class="scbtn1" value="添加新闻" />*@
               
            </li>
        
        </ul>

    }



    <div class="formtitle"><span>新闻列表</span></div>
    <a href="@Url.Action("Create", "News")" class="btn-new">添加新闻</a>
    <table @*class="tablelist"*@ id="dataTable-News">
        <thead>
            <tr>
                <th>
                    新闻类型
                </th>
                <th>
                    标题
                </th>
                <th>
                    发布时间
                </th>
                <th>
                    发布人
                </th>

                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "tablelink" }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "tablelink", onclick = "javascript:return confirm('确认删除？')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<a href="@Url.Action("Index","Home")" class="btn-primary">返回</a>*@
<script>
    $(document).ready(function () {
        $('#dataTable-News').DataTable({
            "searching": false,
        });
        $('#newsParent').slideDown();
    });
</script>