@using MemberCenter.Helper

<!-- Side Menu -->
<ul class="list-unstyled side-menu">
    <li class="active">
        <a class="sa-side-home" href="dashboard.html"></a>
    </li>
    <li class="dropdown">
        <a class="sa-side-page" href="#">
            <span class="menu-item">我的会员</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("个人信息", "MyAccount", "Account")</li>
            <li>@Html.ActionLink("我的会员", "MyMembers", "Account")</li>
            <li><a href="#">会员业绩</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-table" href="#">
            <span class="menu-item">财务中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("资金充值", "CashTopup", "Transaction")</li>
            <li>@Html.ActionLink("资金提现", "CashWithdraw", "Transaction")</li>
            <li>@Html.ActionLink("资金记录", "History", "Transaction")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-widget" href="#">
            <span class="menu-item">报单中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("实价报单", "Buy", "BaoDan")</li>
            <li>@Html.ActionLink("积分解冻", "LockedCoins", "BaoDan")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-chart" href="#">
            <span class="menu-item">交易中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("LHTY卖出", "Sell", "BaoDan")</li>
            <li>@Html.ActionLink("交易记录", "History", "BaoDan")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-calendar" href="#">
            <span class="menu-item">安全中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("登录日志", "IPLog", "Account")</li>
            <li>@Html.ActionLink("安全设置", "SecureSetting", "Account")</li>
        </ul>
    </li>
</ul>