@using MemberCenter.Helper

<!-- Side Menu -->
<ul class="list-unstyled side-menu">
    <li>
        <a class="sa-side-home" href="@SiteConfigurationHelper.SiteRootPath/Account/MyAssets"><span class="menu-item">首页</span></a>
    </li>
    <li class="dropdown">
        <a class="sa-side-page" href="#">
            <span class="menu-item">个人中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("个人信息", "MyAccount", "Account")</li>
            <li>@Html.ActionLink("我的会员", "MyMembers", "Account")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-table" href="#">
            <span class="menu-item">财务中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("资金充值", "CashTopup", "Transaction")</li>
            <li>@Html.ActionLink("资金提现", "CashWithdraw", "Transaction")</li>
            <li>@Html.ActionLink("资金转账", "Transfer", "Transaction")</li>
            <li>@Html.ActionLink("资金记录", "History", "Transaction")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-widget" href="#">
            <span class="menu-item">报单中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("实价报单", "Buy", "BaoDan")</li>
            <li>@Html.ActionLink("积分解冻", "LockedCoins", "BaoDan")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-chart" href="#">
            <span class="menu-item">积分中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("积分卖出", "Sell", "BaoDan")</li>
            <li>@Html.ActionLink("积分转账", "Transfer", "BaoDan")</li>
            <li>@Html.ActionLink("积分记录", "History", "BaoDan")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-chart" href="#">
            <span class="menu-item">会员商城</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("购买兑换券", "Buy", "Points")</li>
            <li>@Html.ActionLink("兑换券转账", "Transfer", "Points")</li>
            <li>@Html.ActionLink("兑换券记录", "History", "Points")</li>
            <li>@Html.ActionLink("重消记录", "ChongXiaoHistory", "Store")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="sa-side-calendar" href="#">
            <span class="menu-item">安全中心</span>
        </a>
        <ul class="list-unstyled menu-item">
            <li>@Html.ActionLink("登录日志", "IPLog", "Account")</li>
            <li>@Html.ActionLink("安全设置", "SecureSetting", "Account")</li>
        </ul>
    </li>
</ul>