@model Backend.Models.Member

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Member</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RealName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RealName)
                @Html.ValidationMessageFor(model => model.RealName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password1)
                @Html.ValidationMessageFor(model => model.Password1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password2)
                @Html.ValidationMessageFor(model => model.Password2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password3)
                @Html.ValidationMessageFor(model => model.Password3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cash1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cash1)
                @Html.ValidationMessageFor(model => model.Cash1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cash2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cash2)
                @Html.ValidationMessageFor(model => model.Cash2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Point1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Point1)
                @Html.ValidationMessageFor(model => model.Point1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Point2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Point2)
                @Html.ValidationMessageFor(model => model.Point2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChongXiao1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChongXiao1)
                @Html.ValidationMessageFor(model => model.ChongXiao1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChongXiao2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChongXiao2)
                @Html.ValidationMessageFor(model => model.ChongXiao2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coin1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coin1)
                @Html.ValidationMessageFor(model => model.Coin1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coin2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coin2)
                @Html.ValidationMessageFor(model => model.Coin2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegisterTime)
                @Html.ValidationMessageFor(model => model.RegisterTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Level, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Level)
                @Html.ValidationMessageFor(model => model.Level)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Achievement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Achievement)
                @Html.ValidationMessageFor(model => model.Achievement)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TiXianStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TiXianStatus)
                @Html.ValidationMessageFor(model => model.TiXianStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TiBiStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TiBiStatus)
                @Html.ValidationMessageFor(model => model.TiBiStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdSubmitted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdSubmitted)
                @Html.ValidationMessageFor(model => model.IdSubmitted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdApproved, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdApproved)
                @Html.ValidationMessageFor(model => model.IdApproved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApprovedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApprovedBy)
                @Html.ValidationMessageFor(model => model.ApprovedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Referral_Id, "Referral_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Referral_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Referral_Id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
