@model Backend.Models.Member

@{
    ViewBag.Title = "会员编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // List<string> subs = ViewBag.subordinates;
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">会员编辑</a></li>
    </ul>
</div>
<div class="formbody">
    <div class="formtitle"><span>会员信息</span></div>
    <div class="toolsli">
        <ul class="toollist">
            <li><h2>账号： @Html.DisplayFor(model => model.Email) </h2></li>
            <li><h2>注册时间： @Html.DisplayFor(model => model.RegisterTime)</h2></li>
            <li><h2>级别： @Html.DisplayFor(model => model.MemberLevel.Level)</h2></li>
            <li><h2>业绩： @Html.DisplayFor(model => model.Achievement)</h2></li>
        </ul>
    </div>
    <div class="formtitle"><span>下级会员</span></div>
    <div class="toolsli">
        <ul class="toollist">
            @if (Model.Members1.Any())
            {
                foreach (var sub in Model.Members1)
                {
                    <li><h2>@sub.Email</h2></li>
                }
            }

        </ul>
    </div>

    <div class="formtitle"><span>会员钱包信息</span></div>
    <div class="toolsli">
        <ul class="toollist">
            <li><h2>可用现金金额： @Html.DisplayFor(model => model.Cash1)</h2></li>
            <li><h2>冻结现金金额： @Html.DisplayFor(model => model.Cash2)</h2></li>
            <li><h2>可用电子币数量： @Html.DisplayFor(model => model.Coin1)</h2></li>
            <li><h2>冻结子币数量： @Html.DisplayFor(model => model.Coin2)</h2></li>
            <li><h2>可用积分： @Html.DisplayFor(model => model.Point1)</h2></li>
            <li><h2>冻结积分： @Html.DisplayFor(model => model.Point2)</h2></li>
            <li><h2>可用冲销： @Html.DisplayFor(model => model.ChongXiao1)</h2></li>
            <li><h2>冻结冲销： @Html.DisplayFor(model => model.ChongXiao2)</h2></li>
        </ul>
    </div>
    <div class="formtitle"><span>密码重置和级别调整</span></div>
    <div class="toolsli">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <div class="toolsli">

                <ul class="forminfo">
                    <li>
                        <label>登录密码：<b>*</b></label>
                        @Html.TextBoxFor(model => model.Password1, new { @class = "dfinput" })
                    </li>

                    <li>

                        @{
            var options = (from scl in VapLib.Constants.MemberLevels
                           select new SelectListItem
                           {
                               Text = scl,
                               Value = scl,
                               Selected = scl == Model.MemberLevel.Level
                           }).ToList();

                        }
                        <label>会员级别：<b>*</b></label>
                        @Html.DropDownListFor(model => model.MemberLevel.Level, options, new { @class = "dfinput", data_val = "true", requried = "required", data_val_required = "必选项" })

                    </li>

                    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" /></li>


                </ul>







            </div>
        }

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        
        $('#memberParent').slideDown();
    });
</script>
