@model IEnumerable<Backend.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cash1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cash2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChongXiao1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChongXiao2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coin1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coin2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achievement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiXianStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiBiStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member1.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cash1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cash2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChongXiao1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChongXiao2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coin1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coin2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achievement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiXianStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiBiStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member1.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
