@using Backend.Helper
@model IEnumerable<Backend.Models.Member>

@{
    ViewBag.Title = "会员管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string jstr = ViewBag.jstree;
}
<link href="@SiteConfigurationHelper.SiteRootPath/Scripts/jsTree/themes/default/style.css" rel="stylesheet" type="text/css" />

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">会员管理</a></li>
    </ul>
</div>
@*<div class="formbody">
    @using (Html.BeginForm("Index", "Member", FormMethod.Get))
    {
        @Html.ValidationSummary()
        
        <ul class="seachform1 hide">
            <li>
                <label>会员账号</label>
                @Html.TextBox("account", "", new { @class = "scinput1" })
            </li>
            <li>
                <label>会员状态</label>
                @{
                    var options = new List<SelectListItem>();
                    options.Insert(0, new SelectListItem
                    {
                        Text = "全部",
                        Value = ""
                    });
                    options.Insert(1, new SelectListItem
                    {
                        Text = "待审核",
                        Value = "待审核"
                    });
                    options.Insert(2, new SelectListItem
                    {
                        Text = "正常",
                        Value = "正常"
                    });
                    options.Insert(3, new SelectListItem
                    {
                        Text = "锁定",
                        Value = "锁定"
                    });
                }
                @Html.DropDownList("status", options, new { @class = "scinput1" })
            </li>
        </ul>
        <ul class="seachform1 hide">
            <li class="sarchbtn">
                <label>&nbsp;</label>
                <input name="" type="submit" class="scbtn" onclick="" value="查询" />
            </li>
        </ul>
    }


    <div class="formtitle"><span>会员列表</span></div>
    <table $1$class="tablelist"#1# id="dataTable-Members">
        <thead>
            <tr>
                <th>
                    UID
                </th>
                <th>
                    推荐人UID
                </th>
                <th>
                    注册日期
                </th>
                <th>
                    登录名
                </th>
                <th>
                    会员状态
                </th>
                <!--
                    <th>
                        提现状态
                    </th>
                    <th>
                        提币状态
                    </th>-->
                <th>
                    昵称
                </th>
                <th>
                    真实姓名
                </th>
                <th>
                    等级
                </th>
                <th>
                    会员业绩
                </th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Referral_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisterTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.TiXianStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TiBiStatus)
                        </td>-->
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberLevel.Level)
                    </td>
                    <td style="text-align:right;">
                        ￥@Html.DisplayFor(modelItem => item.Achievement)
                    </td>
                    
                    <td>
                        @if (item.Status == VapLib.会员状态.待审核.ToString())
                        {
                            @Html.ActionLink("批准", "ApproveMember", new { id = item.Id }, new { @class = "tablelink" })
                        }
                        else if (item.Status == VapLib.会员状态.锁定.ToString())
                        {
                            @Html.ActionLink("解锁", "ApproveMember", new { id = item.Id }, new { @class = "tablelink" })
                        }
                        else if(item.Status == VapLib.会员状态.正常.ToString())
                        {
                            @Html.ActionLink("锁定", "LockMember", new { id = item.Id },new{@class="tablelink"})
                            @:|
                            @Html.ActionLink("身份认证", "ApproveIdentity", new { id = item.Id }, new { @class = "tablelink", onclick = "javascript:return confirm('确认通过该会员身份认证？')" })
                        }
                        | @Html.ActionLink("修改", "Edit", new { id = item.Id }, new { @class = "tablelink" })
                        
                       
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@
<div class="formbody">
    @Html.ValidationSummary()
    <ul class="seachform1">
        <li>
            <label>查询</label>
            <input type="text" id="search_ay" placeholder="请输入会员账号" class="scinput1" />
        </li>
    </ul>
    <ul class="seachform1">
        
        <li>
            <input type="button" value="编辑" class="scbtn" onclick="edit();" />
            <input type="button" value="会员审批" class="scbtn" onclick="approve();" />
            <input type="button" value="会员锁定" class="scbtn" onclick="lock();" />
            <input type="button" value="会员解锁" class="scbtn" onclick="unlock();" />
            <input type="button" value="身份认证" class="scbtn" onclick="approveIdentity();" />
        </li>
    </ul>
    <input type="hidden" id="pid" />
    <div class="formtitle"><span>会员列表</span></div>
    
    <div id="treeview1">

    </div>
    
</div>


<script type="text/javascript" src="@SiteConfigurationHelper.SiteRootPath/Scripts/jstree/jstree.js"></script>
<script type="text/javascript" src="@SiteConfigurationHelper.SiteRootPath/Scripts/jstree/jstree.search.js"></script>
<script>
    $(document).ready(function () {
        /*$('#dataTable-Members').DataTable({
            "searching": true,
        });*/
        $('#memberParent').slideDown();
    });

    function checkMember(parameters) {
        if ($("#pid").val() == "") {
            alert("请先选择一个会员");
            return false;
        } else {
            return true;
        }
        
    }
    function edit() {
        if (checkMember()) {
            window.location = "@SiteConfigurationHelper.SiteRootPath/member/Edit?id=" + $("#pid").val();
        }
        
    }
    function approve() {
        if (checkMember()) {
            window.location = "@SiteConfigurationHelper.SiteRootPath/member/ApproveMember?id=" + $("#pid").val();
        }

    }
    function lock() {
        if (checkMember()) {
            window.location = "@SiteConfigurationHelper.SiteRootPath/member/LockMember?id=" + $("#pid").val();
        }

    }
    function unlock() {
        if (checkMember()) {
            window.location = "@SiteConfigurationHelper.SiteRootPath/member/ApproveMember?id=" + $("#pid").val();
        }

    }
    function approveIdentity() {
        if (checkMember()) {
            window.location = "@SiteConfigurationHelper.SiteRootPath/member/ApproveIdentity?id=" + $("#pid").val();
        }

    }

    //core：整个jstree显示的核心，里面包括多种项配置：
    //data： 这里是使用json格式的数据；还可以使用html或者ajax请求等
    //plugins： 这个jstree引用了哪些插件
    //multiple : false  不可多选
    $("#treeview1").jstree({
        'core': {
            "multiple": false,
            'data': [@Html.Raw(jstr)],
            'dblclick_toggle': false          //禁用tree的双击展开
        },
        "plugins": ["search"]
    });
    //tree change时事件
    $('#treeview1').on("changed.jstree", function (e, data) {
        //console.log("The selected nodes are:");
        //console.log(data.node.id);               //选择的node id
        // console.log(data.node.text);            //选择的node text
        $("#pid").val(data.node.id);
        // form_data.ay = data.node.text;
        // form_data.ay_id = data.node.id;

    });
    //输入框输入定时自动搜索
    var to = false;
    $('#search_ay').keyup(function () {
        if (to) {
            clearTimeout(to);
        }

        to = setTimeout(function () {
            $('#treeview1').jstree(true).search($('#search_ay').val());

        }, 250);
    });
    //jstree单击事件
    $("#treeview1").bind("select_node.jstree", function (e, data) {
        data.instance.toggle_node(data.node);
        /*if (data.node.id != 1) {  */
        //单击展开下面的节点
        /* }*/

    });
</script>