@model System.Collections.Generic.List<Backend.Models.CashTransaction>

@{
    ViewBag.Title = "奖金积分操作记录列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">奖金积分操作记录列表</a></li>
    </ul>
</div>
<div class="formbody">
    @using (Html.BeginForm("CashTrans", "Cash", FormMethod.Get))
    {
        @Html.ValidationSummary()
        <ul class="seachform1">
            <li>
                <label>会员账号</label>
                @Html.TextBox("memberAccount", "", new { @class = "scinput1" })
            </li>
            <li>
                <label>状态</label>
                @{
                    var options = new List<SelectListItem>();
                    options.Insert(0, new SelectListItem
                    {
                        Text = "全部",
                        Value = ""
                    });
                    options.Insert(1, new SelectListItem
                    {
                        Text = "待审核",
                        Value = "待审核"
                    });
                    options.Insert(2, new SelectListItem
                    {
                        Text = "已审核",
                        Value = "已审核"
                    });
                    options.Insert(3, new SelectListItem
                    {
                        Text = "冻结",
                        Value = "冻结"
                    });


                }
                @Html.DropDownList("status", options, new { @class = "scinput1" })

            </li>
            <li>
                <label>类型</label>
                @{
                    var options1 = new List<SelectListItem>();
                    options1.Insert(0, new SelectListItem
                    {
                        Text = "全部",
                        Value = ""
                    });
                    options1.Insert(1, new SelectListItem
                    {
                        Text = "充值",
                        Value = "充值"
                    });
                    options1.Insert(2, new SelectListItem
                    {
                        Text = "提现",
                        Value = "提现"
                    });
                    options1.Insert(3, new SelectListItem
                    {
                        Text = "下线返利",
                        Value = "下线返利"
                    });
                    options1.Insert(4, new SelectListItem
                    {
                        Text = "购币消费",
                        Value = "购币消费"
                    });
                    options1.Insert(5, new SelectListItem
                    {
                        Text = "售币所得",
                        Value = "售币所得"
                    });
                    
                }
                @Html.DropDownList("type", options1, new { @class = "scinput1" })

            </li>

        </ul>



        <ul class="seachform1">
            <li class="sarchbtn">
                <label>&nbsp;</label>
                <input name="" type="submit" class="scbtn" value="查询" />
                @*<input name="" type="button" class="scbtn2" value="导出" />*@
            </li>
        </ul>
        @*<a class="btn-primary" href="@Url.Action("CreateUser","Admin")">新建账号</a>*@

    }
    <div class="formtitle"><span>奖金积分操作记录列表</span></div>
    <table id="dataTable-Cash">
        <thead>
            <tr>
                <th>
                    会员账号
                </th>
                <th>
                    会员UID
                </th>
                <th>
                    金额
                </th>
                <th>
                    类型
                </th>
                <th>
                    状态
                </th>
                <th>
                    时间
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable-Cash').DataTable({
            "searching": false,
        });
        $('#cashParent').slideDown();
    });
</script>