@model IEnumerable<Backend.Models.LockedCoinViewModel>

@{
    ViewBag.Title = "积分冻结记录";
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<div class="formbody">
    @Html.ValidationSummary()
    <div class="formtitle"><span>积分冻结记录</span></div>

    <table @*class="tablelist"*@ id="dataTable-MemberLocks">
        <thead>
            <tr>

                <th>
                    总量
                </th>
                <th>
                    冻结数量
                </th>
                <th>
                    可用数量
                </th>
                <th>
                    买入价格
                </th>
                <th>
                    上次解冻价格
                </th>
                <th>
                    下次解冻价格
                </th>
                <th>
                    时间
                </th>

                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>

                   
                    <td>
                        @Html.DisplayFor(modelItem => item.LockedAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BaoDanTime)
                    </td>
                    
                        <td>
                            
                            @Html.ActionLink("手动解冻", "UnlockCashTrans", new { id = item.Id}, new { @class = "tablelink", onclick = "javascript:return confirm('确认解冻？')" })


                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable-MemberLocks').DataTable({
            "searching": true,
        });
    });
</script>
