@model System.Collections.Generic.List<Backend.Models.CashTransaction>

@{
    ViewBag.Title = "积分冻结记录";
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<div class="formbody">
    @Html.ValidationSummary()
    <div class="formtitle"><span>积分冻结记录</span></div>

    <table @*class="tablelist"*@ id="dataTable-MemberLocks">
        <thead>
            <tr>

                <th>
                    金额
                </th>
                <th>
                    交易类型
                </th>
                <th>
                    状态
                </th>
               
                <th>
                    时间
                </th>

                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>

                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    
                        <td>
                            
                            @Html.ActionLink("手动解冻", "UnlockCashTrans", new { id = item.Id}, new { @class = "tablelink", onclick = "javascript:return confirm('确认解冻？')" })


                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable-MemberLocks').DataTable({
            "searching": true,
        });
    });
</script>
