@using System.Web.UI.WebControls
@model IEnumerable<Backend.Models.CashTransaction>

@{
    ViewBag.Title = "待审批现金充值";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var total = 0m;
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">待审批现金充值</a></li>
    </ul>
</div>
<div class="formbody">
    @Html.ValidationSummary()
    @using (Html.BeginForm("PendingTopups", "Cash", FormMethod.Get))
    {

        <ul class="seachform1">
            <li>
                <label>起始时间</label>
                @Html.TextBox("startDate", "", new { @class = "scinput1", @Type = "Date" })
            </li>
            <li>
                <label>截止时间</label>
                @Html.TextBox("endDate", "", new { @class = "scinput1", @Type = "Date" })
            </li>
            <li class="sarchbtn">
                <input name="" type="submit" class="scbtn" value="查询" />
                @*<input name="" type="button" class="scbtn2" value="导出" />*@
            </li>
        </ul>
    }
    @*<ul class="seachform1">

        <li><label>会员账号</label><input name="" type="text" class="scinput1" /></li>
        <li>
            <label>会员UID</label>
            <input name="" type="text" class="scinput1" />
        </li>

        <li>
            <label>状态</label>
            <select class="scinput1">
                <option>全部</option>
                <option>待审核</option>
                <option>可用</option>
                <option>冻结</option>
            </select>
        </li>


    </ul>



    <ul class="seachform1">
        <li class="sarchbtn">
            <label>&nbsp;</label>
            <input name="" type="button" class="scbtn" onclick="" value="查询" />
        </li>
    </ul>

*@

    
    <div class="formtitle"><span>待审批现金充值列表</span></div>
    <div style="padding: 10px 20px ;float: right;">
        <a href="@Url.Action("CashTrans","Cash",new{status="已审核",type="充值"} )" Style="padding: 3px" class="scbtn">已审核的充值记录</a>
    </div>
    <table @*class="tablelist"*@ id="dataTable-Topups">
        <thead>
            <tr>
                <th>
                    会员账号
                </th>
                <th>
                    会员UID
                </th>
                <th>
                    金额
                </th>
                <th>
                    类型
                </th>
                <th>
                    状态
                </th>
                <th>
                    银行
                </th>
                <th>
                    汇款单号
                </th>
                <th>
                    申请时间
                </th>

                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                total += item.Amount;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bank)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemitNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>

                    <td>
                        @Html.ActionLink("批准", "ApproveCashTrans", new { id = item.Id }, new { @class = "tablelink" })
                        |
                        @Html.ActionLink("删除", "DeleteCashTrans", new { id = item.Id,type="T" }, new { @class = "tablelink", onclick = "javascript:return confirm('确认删除？')" })


                    </td>
                </tr>
            }
        </tbody>
    </table>
    <span class="text-danger "><b>金额汇总：￥@total</b></span>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable-Topups').DataTable({
            "searching": true,
        });
        $('#cashParent').slideDown();
    });
</script>