@model MemberCenter.Models.MyAccountInfoViewModel
@using MemberCenter.Helper
@{
    ViewBag.Title = "个人设置";
}


<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            ACCOUNT SETTING
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("EditMyAccount", "Account", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                if(!ViewData.ModelState.IsValid)
                { 
                    <div class="alert alert-danger">
                        @Html.ValidationSummary()
                    </div>
                }
                if (ViewBag.ActionMessage != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.ActionMessage
                    </div>
                }
                <div class="form-group input-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", maxlength = "20", placeholder = "用户名" })
                    <span class="input-group-addon">用户名</span>
                </div>
                <div class="form-group input-group">
                    @Html.TextBoxFor(m => m.RealName, new { @class = "form-control", maxlength = "20", placeholder = "真实姓名" })
                    <span class="input-group-addon">真实姓名</span>
                </div>
                <div class="form-group input-group">
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", maxlength = "11", placeholder = "手机号码", id = "Mobile" })
                    <span class="input-group-addon">手机号码</span>
                </div>
                <div class="form-group row" style="margin-top: 20px; height: 30px;">
                    <label class="col-md-2">上传身份证</label>
                    <div class="col-md-10 right">
                        <input type="file" id="uploadImageButton" name="uploadImageButton" />
                    </div>
                </div>
                <div id="imageHolder" style="margin-top: 20px; margin-bottom: 20px;">
                    @if (@Model.IdentifyFile != null && @Model.IdentifyFile != "")
                    {
                        <img style="height: 100px;" src="@(SiteConfigurationHelper.SiteRootPath+Model.IdentifyFile)" />
                    }
                    else
                    {
                        <img style="height: 100px; " />
                    }
                    
                </div>
                <button type="submit" class="btn btn-warning btn-block">保存</button>
            }
            <!-- /.form -->

        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            &nbsp;
        </div>
    </div>
</div>
<!-- /.col-lg-12 -->

<script>

    $(document).ready(function () {

        $("#Mobile").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .190
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });


    function setupFileLoaderButton(button, imageHolder) {
        var upload = document.getElementById(button);
        var holder = document.getElementById(imageHolder);

        if (typeof window.FileReader === 'undefined') {
            console.error('File API & FileReader not available');
        }

        upload.onchange = function (e) {
            e.preventDefault();

            var file = upload.files[0],
                reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.src = event.target.result;
                if (img.src != undefined && img.src != '')
                    img.className = 'thumbnail uploading-img';
                else
                    img.className = '';
                holder.innerHTML = '';
                holder.appendChild(img);
            };
            reader.readAsDataURL(file);

            return false;
        };
    }

    setupFileLoaderButton('uploadImageButton', 'imageHolder');
</script>