@model MemberCenter.Models.MyAccountInfoViewModel

@{
    ViewBag.Title = "个人信息";
}

<div class="panel panel-default">
    <div class="panel-heading">
        MY ACCOUNT
    </div>
    <div class="panel-body">

        <table class="table">
            <caption style="text-align: left;"><span class="left"><b>用户UID：</b><em>@Model.Id</span></em>    
                <img src="http://qr.topscan.com/api.php?text=@Model.MyLink" width="100" height="100" style="float:right;" />
                <span class="right" style="margin-top:77px; margin-right:10px;">我的推广链接：<a href="@Model.MyLink" target="_blank"><em>@Model.MyLink</em></a></span>
                
            </caption>
            <tr>
                <td><b>用户名：</b><em>@Model.UserName</em></td>
                <td><b>真实姓名：</b><em>@Model.RealName</em></td>
                <td><b>邮箱：</b><em>@Model.Email</em></td>
            </tr>
            <tr>
                <td><b>注册日期：</b><em>@Model.RegisterTime</em></td>
                <td><b>上次登录：</b><em>@Model.LastLoginTime</em></td>
                <td><b>登录IP：</b><em>@Model.LastLoginIP</em></td>
            </tr>
            <tr>
                <td><b>我的等级：</b><em>@Model.Level</em></td>
                <td><b>我的业绩：</b><em>￥@Html.DisplayFor(m => m.Achievement)</em></td>
                <td><b>会员量：</b><em>@Model.MyMember</em></td>
            </tr>
            <tr>
                <td><b>重消金额：</b><em>￥@Html.DisplayFor(m => m.MyChongXiao)</em></td>
                <td><b>购物券：</b><em>@Html.DisplayFor(m => m.MyPoints)</em></td>
                <td><b>总积分：</b><em>@Html.DisplayFor(m => m.MyCoins)</em></td>
            </tr>
            <tr>
                <td></td>
                <td><b>总投资额：</b><em>￥@Html.DisplayFor(m => m.MyBaoDanCash)</em></td>
                <td><b>现金总量：</b><em>￥@Html.DisplayFor(m => m.MyCash)</em></td>
            </tr>
        </table>
        <!-- /.Table -->
        @Html.ActionLink("修改", "EditMyAccount", "Account", null, new { @class = "btn btn-warning btn-block" })

    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        &nbsp;
    </div>
</div>