@model MemberCenter.Models.MyAssetViewModel

@{
    ViewBag.Title = "个人资产";
}

    <h1 class="page-header">@ViewBag.Title</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            Personal Assets
        </div>
        <div class="panel-body">

            <table class="table">
                <caption> </caption>
                <tr>
                    <td>可用现金：<p class="available-qty"><em><b>￥@Html.DisplayFor(m => m.AvailableCash)</b></em></p></td>
                    <td>冻结：<em>￥@Html.DisplayFor(m => m.LockedCash)</em></td>
                    <td>总量：<em>￥@Html.DisplayFor(m => m.TotalCash)</em></td>
                </tr>
                <tr>
                    <td>可用积分：<p class="available-qty"><em><b>@Html.DisplayFor(m => m.AvailablePoints)</b></em></p></td>
                    <td>冻结：<em>@Html.DisplayFor(m => m.LockedPoints)</em></td>
                    <td>总量：<em>@Html.DisplayFor(m => m.TotalPoints)</em></td>
                </tr>
                <tr>
                    <td>可用重消：<p class="available-qty"><em><b>￥@Html.DisplayFor(m => m.AvailableChongXiao)</b></em></p></td>
                    <td>冻结：<em>￥@Html.DisplayFor(m => m.LockedChongXiao)</em></td>
                    <td>总量：<em>￥@Html.DisplayFor(m => m.TotalChongXiao)</em></td>
                </tr>
                <tr>
                    <td>可用LHTY：<p class="available-qty"><em><b>@Html.DisplayFor(m => m.AvailableCoin)</em></b></p></td>
                    <td>冻结：<em>@Html.DisplayFor(m => m.LockedCoin)</em></td>
                    <td>总量：<em>@Html.DisplayFor(m => m.TotalCoin)</em></td>
                </tr>
            </table>
            <!-- /.Table -->
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            &nbsp;
        </div>
    </div>
