@model MemberCenter.Models.MyAccountViewModel

@{
    ViewBag.Title = "个人资产";
}

<!-- Shortcuts -->
<div class="block-area shortcut-area">
    <a class="shortcut tile" href="~/Transaction/CashTopup">
        <img src="~/Content/new-skin/img/shortcuts/money.png" alt="">
        <small class="t-overflow">充值</small>
    </a>
    <a class="shortcut tile" href="~/Transaction/CashWithdraw">
        <img src="~/Content/new-skin/img/shortcuts/twitter.png" alt="">
        <small class="t-overflow">提现</small>
    </a>
    <a class="shortcut tile" href="~/BaoDan/Buy">
        <img src="~/Content/new-skin/img/shortcuts/calendar.png" alt="">
        <small class="t-overflow">报单</small>
    </a>
    <a class="shortcut tile" href="~/BaoDan/LockedCoins">
        <img src="~/Content/new-skin/img/shortcuts/stats.png" alt="">
        <small class="t-overflow">解冻</small>
    </a>
    <a class="shortcut tile" href="~/BaoDan/Sell">
        <img src="~/Content/new-skin/img/shortcuts/connections.png" alt="">
        <small class="t-overflow">出售</small>
    </a>
    <a class="shortcut tile" href="~/BaoDan/History">
        <img src="~/Content/new-skin/img/shortcuts/reports.png" alt="">
        <small class="t-overflow">记录</small>
    </a>
</div>

<hr class="whiter" />

    <div class="panel panel-default">
        <div class="panel-heading">
            Personal Assets
        </div>
        <div class="panel-body">

            <table class="table">
                <caption> </caption>
                <tr>
                    <td>可用现金：<p class="available-qty"><em><b>￥@Html.DisplayFor(m => m.AvailableCash)</b></em></p></td>
                    <td>冻结：<em>￥@Html.DisplayFor(m => m.LockedCash)</em></td>
                    <td>总量：<em>￥@Html.DisplayFor(m => m.TotalCash)</em></td>
                </tr>
                <tr>
                    <td>可用兑换券：<p class="available-qty"><em><b>@Html.DisplayFor(m => m.AvailablePoints)</b></em></p></td>
                    <td>冻结：<em>@Html.DisplayFor(m => m.LockedPoints)</em></td>
                    <td>总量：<em>@Html.DisplayFor(m => m.TotalPoints)</em></td>
                </tr>
                <tr>
                    <td>可用重消：<p class="available-qty"><em><b>￥@Html.DisplayFor(m => m.AvailableChongXiao)</b></em></p></td>
                    <td>冻结：<em>￥@Html.DisplayFor(m => m.LockedChongXiao)</em></td>
                    <td>总量：<em>￥@Html.DisplayFor(m => m.TotalChongXiao)</em></td>
                </tr>
                <tr>
                    <td>可用联合通用积分：<p class="available-qty"><em><b>@Html.DisplayFor(m => m.AvailableCoin)</em></b></p></td>
                    <td>冻结：<em>@Html.DisplayFor(m => m.LockedCoin)</em></td>
                    <td>总量：<em>@Html.DisplayFor(m => m.TotalCoin)</em></td>
                </tr>
            </table>
            <!-- /.Table -->
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            &nbsp;
        </div>
    </div>
