@model MemberCenter.Models.MyAssetViewModel

@{
    ViewBag.Title = "个人资产";
}

    <h1 class="page-header">@ViewBag.Title</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            Personal Assets
        </div>
        <div class="panel-body">

            <table class="table table-hover">
                <caption> </caption>
                <tr>
                    <td>可用奖金积分：<p class="available-qty"><em><b>@Model.AvailableCash.ToString("0,0.00")</b></em></p></td>
                    <td>冻结：<em>@Model.LockedCash.ToString("0,0.00")</em></td>
                    <td>总量：<em>@Model.TotalCash.ToString("0,0.00")</em></td>
                </tr>
                <tr>
                    <td>可用兑换积分：<p class="available-qty"><em><b>@Model.AvailablePoints.ToString("0,0.00")</b></em></p></td>
                    <td>冻结：<em>@Model.LockedPoints.ToString("0,0.00")</em></td>
                    <td>总量：<em>@Model.TotalPoints.ToString("0,0.00")</em></td>
                </tr>
                <tr>
                    <td>可用重消：<p class="available-qty"><em><b>@Model.AvailableChongXiao.ToString("0,0.00")</b></em></p></td>
                    <td>冻结：<em>@Model.LockedChongXiao.ToString("0,0.00")</em></td>
                    <td>总量：<em>@Model.TotalChongXiao.ToString("0,0.00")</em></td>
                </tr>
                <tr>
                    <td>可用LHTY：<p class="available-qty"><em><b>@Model.AvailableCoin.ToString("0,0.00000000")</em></b></p></td>
                    <td>冻结：<em>@Model.LockedCoin.ToString("0,0.00000000")</em></td>
                    <td>总量：<em>@Model.TotalCoin.ToString("0,0.00000000")</em></td>
                </tr>
            </table>
            <!-- /.Table -->
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            &nbsp;
        </div>
    </div>
