@model MemberCenter.Models.RegisterViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "会员注册";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Page Content -->
<div id="page-wrapper" class="full-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <h1 class="page-header">@ViewBag.Title</h1>
                <div class="panel panel-green">
                    <div class="panel-heading">
                        REGISTER
                    </div>
                    <div class="panel-body">

                        @using (Html.BeginForm("Register", "Account", new { referral = Request.QueryString["referral"] }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            if(!ViewData.ModelState.IsValid)
                            { 
                                <div class="alert alert-danger">
                                    @Html.ValidationSummary()
                                </div>
                            }
                            if (ViewBag.ActionMessage != null)
                            {
                                <div class="alert alert-success">
                                    @ViewBag.ActionMessage
                                </div>
                            }
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", maxlength = "30", placeholder = "请输入邮箱地址" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "请输入登录密码", maxlength = "30" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "请输入确认密码", maxlength = "30" })
                            </div>
                            if (Request.QueryString["referral"] == null || Request.QueryString["referral"] == "")
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Referral, new { @class = "form-control ", maxlength = "10", placeholder = "请输入推广人ID" })
                                </div>
                            }
                            else
                            {
                                <div class="form-group input-group">
                                    <span class="input-group-addon">推广人ID</span>
                                    @Html.TextBoxFor(m => m.Referral, new { @class = "form-control", maxlength = "10", placeholder = "请输入推广人ID", disabled = "true" })
                                </div>
                            }
                            <div class="form-group">
                                @Html.Captcha(4, "~/Views/Shared/_CaptchaPartial.cshtml")
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.AcceptTerm)我已经认真阅读并同意<a href="#" data-toggle="modal" data-target="#myModal">《用户使用协议》</a>
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-block">注册</button>
                        }


                    </div>
                    <div class="panel-footer text-center">
                        已经有账户了? @Html.ActionLink("点此登录", "Login")
                        <br class="clear" />
                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

@Html.Partial("_Term")

