@model MemberCenter.Models.HomeViewModel
@using MemberCenter.Helper
@using MemberCenter.Models;
@using CaptchaMvc.HtmlHelpers


@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/NewSkin/_LayoutHome.cshtml";
    ViewBag.ReturnUrl = "~/";
}


<section id="main-slider" class="carousel">
    <div class="container">
        <div class="carousel-inner1 col-sm-9">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content" style="text-align:center;">
                        <h1>最具投资价值的虚拟资产</h1>
                        <p class="lead">联合通用积分是商家联盟的新型数字加密资产，整合商家电商平台形成联盟，将数字加密进行流通，变为资产。联合通用积分不仅仅可以用来购物，消费，它也是我们每个人的个人银行，具有货币功能。联合通用积分，自发行以来，每天都稳步增长，最低年收益3-5倍，公司签订合同，保证本金</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-content" style="text-align:center;">
                        <h1>最新动态</h1>
                        <p class="lead">热烈庆祝本站全新改版上线</p>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="col-sm-3 index_login_box">
            <div class="login_box">
                <div class="opacity_bg"></div>
                <!--登录页面-->
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="tab tab01">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form_login bind_validator", autocomplete = "off" }))
                        {
                            <h4 class="title">会员登录</h4>

                            @Html.AntiForgeryToken()
                        
                            <input type="text" name="Email" class="input_login mail_complete" value="" placeholder="请输入登录邮箱" >
                            <input type="password" name="Password" class="input_login" data-type="*" data-msg-null="请输入密码" placeholder="请输入密码">
                            @Html.Captcha(4, "~/Views/Shared/_CaptchaPartial.cshtml")
                            <br class="clearfix" />
                            <button class="btn btn_success sign_btn" type="submit">登录</button>
                            <a href="/Account/Register" target="_blank" style="margin:30px 0 0 10px;display:block;">注册新账号？</a>
                            <input type="hidden" name="step" value="">
                        }
                        <hr class="login_hr">
                    </div>
                }
                else
                {
                    MyAccountViewModel myAccount = (MyAccountViewModel)TempData["MyAccount"];
                    
                    <div class="tab tab01">
                        <h4 class="title">我的账户</h4>
                        <table>
                            <tr>
                                <td></td>
                                <td class="center">可用余额</td>
                                <td class="center">冻结量</td>
                            </tr>
                            <tr>
                                <td>现金</td>
                                <td class="center">@myAccount.AvailableCash</td>
                                <td class="center">@myAccount.LockedCash</td>
                            </tr>
                            <tr>
                                <td>联合通用积分</td>
                                <td class="center">@myAccount.AvailableCoin</td>
                                <td class="center">@myAccount.LockedCoin</td>
                            </tr>
                            <tr>
                                <td>总业绩</td>
                                <td colspan="2" class="center">@myAccount.Achievement</td>
                            </tr>
                        </table>
                        
                        <a href="@SiteConfigurationHelper.SiteRootPath/Home/DashBoard" class="btn btn_orange btn_url btn-block">进入交易中心</a>
                        <br />
                        <div class="tools">
                            <a href="@SiteConfigurationHelper.SiteRootPath/Account/MyAccount" class="btn_white" style="float:left;">个人中心</a>
                            <a href="@SiteConfigurationHelper.SiteRootPath/Account/LogOff?returnUrl=@SiteConfigurationHelper.SiteRootPath/Home" class="btn_white" style="float:right;">安全退出</a>
                        </div>
                        <br />
                    </div>
                }

            </div>
        </div>
        <br class="clear" style="clear:both;" />
    </div>
</section>


<section id="main-slider-old" class="carousel hide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>目前最具投资价值的虚拟资产</h1>
                    <p class="lead">联合通用积分是商家联盟的新型数字加密资产，整合商家电商平台形成联盟，将数字加密进行流通，变为资产。联合通用积分不仅仅可以用来购物，消费，它也是我们每个人的个人银行，具有货币功能。联合通用积分，自发行以来，每天都稳步增长，最低年收益3-5倍，公司签订合同，保证本金</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>最新动态</h1>
                    <p class="lead">热烈庆祝本站注册会员到达300,000人 <br>立即注册加盟</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->


<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-trophy icon-md icon-color1"></i>
                        <h4>存币即得利息</h4>
                        <p>您存在好比特币的每一笔资产（保险箱业务除外）都将给您带来丰厚的利息回报，这部分收益来自好比特币的自建矿场。</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-lock icon-md icon-color2"></i>
                        <h4>多重安全保护等级</h4>
                        <p>这是好比特币众多安全措施中的一项，我们将特定资产中的3把私钥分别放置在不同的地方：用户自身账户、好比特币服务器以及独立第三方矿池，以确保资产高度安全。</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-money icon-md icon-color3"></i>
                        <h4>一处充值，多处买币</h4>
                        <p>得益于好比特币工程师的惊人成就，是时候跟繁琐的买币流程说再见了。仅需单次充值，即可完成国内外各平台比特币的购买，智能挂单。现已支持各大主流银行充值提现。</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-briefcase icon-md icon-color4"></i>
                        <h4>企业级保险箱</h4>
                        <p>得益于好比特币工程师的惊人成就，是时候跟繁琐的买币流程说再见了。仅需单次充值，即可完成国内外各平台比特币的购买，智能挂单。现已支持各大主流银行充值提现。</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-globe icon-md icon-color5"></i>
                        <h4>广阔的升值前景</h4>
                        <p>数字资产升值前景空间广阔，以每年200%的升值幅度。</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-qrcode icon-md icon-color6"></i>
                        <h4>数字积分 多种用途</h4>
                        <p>数字积分 唯一真实有效 可以在多处消费 变现方便</p>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->


<section id="portfolio">
    <div class="container">
        <div class="box">
            <div class="center gap">
                <h2>实时行情</h2>
                <div class="price-container">
                    <div class="row">
                        <span class="col-sm-3">当前价格：￥@Html.DisplayFor(m => m.CurrentCoinPrice) </span>
                        <span class="col-sm-3">昨日价格：￥@Html.DisplayFor(m => m.YesterdayCoinPrice) </span>
                        <span class="col-sm-3">涨幅：@Html.DisplayFor(m => m.PriceIncreaseAmount) </span>
                        <span class="col-sm-3">历史成交额：￥@Html.DisplayFor(m => m.TotalTransactionCash) </span>
                    </div>
                </div>
            </div><!--/.center-->
            <div class="chart-container">
                <div id="PriceChart"> </div>
            </div>

            <div class="chart-container2">
                <div id="BarChart"> </div>
            </div>
        </div>
    </div><!--/.container-->
</section><!--/#portfolio-->


<section id="pricing" class="hide">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>交易数据</h2>
                <p class="lead">累计注册用户 @Html.DisplayFor(m => m.MemberAmount) 人<br>历史成交金额<br><span style="font-size: 65px; font-weight: bold; font-family: impact; color: #c09853">￥@Html.DisplayFor(m => m.TotalTransactionCash)</span></p>
            </div><!--/.center-->
            <div class="big-gap"></div>
            <div id="pricing-table" class="row">
                <div class="col-sm-4">
                    <ul class="plan featured">
                        <li class="plan-name">当前价格</li>
                        <li class="plan-price">￥@Html.DisplayFor(m => m.CurrentCoinPrice)</li>
                        <li>昨日价格：<span>￥@Html.DisplayFor(m => m.YesterdayCoinPrice)</span></li>
                        <li>涨幅：<span class="red">@Html.DisplayFor(m => m.PriceIncreaseAmount)</span></li>
                        <li>今日成交量：@Html.DisplayFor(m => m.TodayBaoDanAmount)</li>
                        <li>今日成交额：￥@Html.DisplayFor(m => m.TodayBaoDanCash)</li>
                        <li>历史成交额：￥@Html.DisplayFor(m => m.TotalTransactionCash)</li>
                        <li class="plan-action"><a href="@SiteConfigurationHelper.SiteRootPath/Home/Dashboard" class="btn btn-primary btn-lg">进入交易中心</a></li>
                    </ul>
                </div><!--/.col-sm-4-->
                <div class="col-sm-4">
                    <ul class="plan ">
                        <li class="plan-name">买盘</li>
                        <li>
                            <table class="table">
                                <tr style="background: #eee;">
                                    <th>买入</th>
                                    <th>买入价￥</th>
                                    <th>买入量</th>
                                </tr>
                                @for (int i = 1; i <= Model.RecentBaoDanBuy.Count(); i++ )
                                {
                                    var row = Model.RecentBaoDanBuy.ToArray()[i-1];
                                <tr>
                                    <td class="green">买 @i</td>
                                    <td>@row.RequestPrice</td>
                                    <td class="red">@row.RequestQuantity</td>
                                </tr>
                                }
                            </table>
                        </li>
                        <li class="plan-action"><a href="@SiteConfigurationHelper.SiteRootPath/BaoDan/Buy" class="btn btn-primary btn-lg">买入</a></li>
                    </ul>
                </div><!--/.col-sm-4-->
                <div class="col-sm-4">
                    <ul class="plan">
                        <li class="plan-name">卖盘</li>
                        <li>
                            <table class="table">
                                <tr style="background: #eee;">
                                    <th>卖出</th>
                                    <th>卖出价￥</th>
                                    <th>卖出量</th>
                                </tr>
                                @for (int i = 1; i <= Model.RecentBaoDanSell.Count(); i++)
                                {
                                    var row = Model.RecentBaoDanSell.ToArray()[i-1];
                                    <tr>
                                        <td class="green">卖 @i</td>
                                        <td>@row.RequestPrice</td>
                                        <td class="red">@row.RequestQuantity</td>
                                    </tr>
                                }
                            </table>
                        </li>
                        <li class="plan-action"><a href="@SiteConfigurationHelper.SiteRootPath/BaoDan/Sell" class="btn btn-primary btn-lg">卖出</a></li>
                    </ul>
                </div><!--/.col-sm-4-->
            </div>
        </div>
    </div>
</section><!--/#pricing-->


<section id="about-us" class="hide">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>我们的服务</h2>
                <p class="lead">选择山东宏仁国际,安全可信赖</p>
            </div>
            <div class="gap"></div>
            <div id="team-scroller" class="carousel scale">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="member">
                                    <p><img class="img-responsive img-thumbnail img-circle" src="~/Content/new-skin/images/team1.jpg" alt=""></p>
                                    <h3>安全<small class="designation">超过10年金融风控经验团队 全方位可定制的安全策略体系 98%比特币资产存储多重签名冷钱包</small></h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="member">
                                    <p><img class="img-responsive img-thumbnail img-circle" src="~/Content/new-skin/images/team2.jpg" alt=""></p>
                                    <h3>专业<small class="designation">创下日交易量纪录354万枚比特币 人民币、美元市场一站式交易 业内专业级操盘工具“闪电手”</small></h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="member">
                                    <p><img class="img-responsive img-thumbnail img-circle" src="~/Content/new-skin/images/team3.jpg" alt=""></p>
                                    <h3>用户至上<small class="designation">人民币交易免费 充值提现快速到账，比特币实时到账 7x24 小时中英双语客服服务</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!--/.carousel-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#about-us-->


<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-sm-6">
                    <h1>投资咨询</h1>
                    <p>如果您想更深入了解数字资产投资，请填写以下咨询表，我们会有专人与您联系。</p>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="#" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="您的姓名">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="联系方式">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="您想咨询的问题"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger btn-lg">发送</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6">
                    <h1>联系我们</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <address>
                                <strong>山东宏仁国际贸易有限公司</strong><br>
                                山东省日照市东港区<br>
                                山东路荟阳路江豪大厦15F<br>

                            </address>
                        </div>
                        <div class="col-md-6">
                            <address>
                                <strong>电话</strong><br>
                                <abbr title="Phone">P:</abbr> (0633) 88888888 <br />
                                <strong>邮箱</strong><br>
                                <a href="mailto:first.last@example.com">first.last@example.com</a><br>


                            </address>
                        </div>
                    </div>
                    <h1>合作伙伴</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook icon-social"></i> 汇民惠商城</a></li>
                                <li><a href="#"><i class="icon-google-plus icon-social"></i> 百度</a></li>
                                <li><a href="#"><i class="icon-pinterest icon-social"></i> 腾讯科技</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="social">
                                <li><a href="#"><i class="icon-linkedin icon-social"></i> 阿里云</a></li>
                                <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                <li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#contact-->


<script>

    var exchangerates = [
        @foreach(var p in Model.CoinPriceHistory)
        { 
            @: [@DateTimeHelper.ConvertDateTimeInt(p.DateTime), @p.Price],
        }
    ];

    function euroFormatter(v, axis) {
        return v.toFixed(axis.tickDecimals) + "￥";
    }

    function doPlot(position) {
        $.plot($("#PriceChart"), [{
            data: exchangerates,
            label: "虚拟币价格走势",
            yaxis: 2
        }], {
            xaxes: [{
                mode: 'time',
                timeformat: "%b %d",
                minTickSize: [1, "day"],
                tickSize: [1, "day"],
            }],
            yaxes: [{
                min: 0
            }, {
                // align if we are to the right
                alignTicksWithAxis: position == "right" ? 1 : null,
                position: position,
                tickFormatter: euroFormatter
            }],
            legend: {
                position: 'sw'
            },
            grid: {
                hoverable: true //IMPORTANT! this is needed for tooltip to work
            },
            tooltip: true,
            tooltipOpts: {
                content: "%y",
                xDateFormat: "%y-%m-%d",

                onHover: function (flotItem, $tooltipEl) {
                    // console.log(flotItem, $tooltipEl);
                }
            }

        });
    }

    doPlot("right");


    //Bar Chart
    $(function () {
        if ($("#BarChart")[0]) {
            var buyData = [
                @foreach(var p in Model.BuyHistory)
                { 
                    @: [@DateTimeHelper.ConvertDateTimeInt(p.DateTime), @p.Amount],
                }];
            var sellData = [
                @foreach(var p in Model.SellHistory)
                { 
                    @: [@DateTimeHelper.ConvertDateTimeInt(p.DateTime), @p.Amount],
                }];

            var data = [
                {
                    label: "买盘",
                    bars: {
                        show: true,
                        order: 1,
                        fill: 1,
                        lineWidth: 0,
                        align: 'left',
                        fillColor: 'rgba(255,0,0,0.6)',
                        barWidth: 60 * 60 * 1000 * 2,
                    },
                    data: buyData
                },
			    {
			         label: "卖出",
			         bars: {
			             show: true,
			             order: 2,
			             fill: 1,
			             lineWidth: 0,
			             align: 'right',
			             fillColor: 'rgba(1,157,10,0.8)',
			             barWidth: 60 * 60 * 1000 * 2,
			         },
			         data: sellData
			    }
            ]

            var options = {
                
                yaxes: {
                    min: 0
                },
                xaxis: {
                    mode: 'time',
                    timeformat: "%b %d",
                    minTickSize: [1, "day"],
                    tickSize: [1, "day"],
                    //autoscaleMargin: 1,
                },
                legend: true,
                tooltip: true,
                tooltipOpts: {
                    content: "%y",
                    xDateFormat: "%y-%m-%d",
                }
            };
            $.plot($('#BarChart'), data, options);
        }
    });
</script>