@model IEnumerable<Backend.Models.BaoDanTransaction>

@{
    ViewBag.Title = "待审核虚拟币售出";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">待审核虚拟币售出</a></li>
    </ul>
</div>
<div class="formbody">
    @Html.ValidationSummary()
    <div class="formtitle"><span>会员列表</span></div>
    <table id="dataTable-Sells">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Member.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Email)
                    </td>
                    <td>
                        @Html.ActionLink("批准", "ApproveSell", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable-Sells').DataTable({
            "searching": false,
        });
    });
</script>
