@model IEnumerable<Backend.Models.BaoDanTransaction>

@{
    ViewBag.Title = "待审核联合积分售出";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">待审核联合积分售出</a></li>
    </ul>
</div>
<div class="formbody">
    @Html.ValidationSummary()
    <div class="formtitle"><span>待审核联合积分售出列表</span></div>
    <div style="padding: 10px 20px ;float: right;">
        <a href="@Url.Action("GetBaodanTrans", "BaoDan", new { status = "已成交", type = "卖出" })" style="padding: 3px" class="scbtn">已成交的售出记录</a>
    </div>
    <table id="dataTable-Sells">
        <thead>
            <tr>
                <th>
                    会员账号
                </th>
                <th>
                    会员UID
                </th>
                <th>
                    联合积分数量
                </th>
                <th>
                    联合积分价格
                </th>
                
                <th>
                    交易状态
                </th>
                <th>
                    报单时间
                </th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.ActionLink("批准", "ApproveSell", new { id = item.Id }, new { @class = "tablelink" })
                        |
                        @Html.ActionLink("删除", "DeleteBaodan", new { id = item.Id }, new { @class = "tablelink" ,onclick = "javascript:return confirm('确认删除？')"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable-Sells').DataTable({
            "searching": false,
        });
        $('#cashParent').slideDown();
    });
</script>
